# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
.vs/
.vscode/
appsettings.Development.json

# Vite
node_modules/
dist/
.vite/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

/plugin